.homepage-pic {
  background-image: url("https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1593231209/Hops%20React%20Assets/andre-klimke-hops_ftyipi.jpg");
  background-size: cover;
  background-position-y: -50px;
  background-repeat: no-repeat;
  height: 300px;
}

h2 {
  color: red;
}

@media only screen and (min-width: 768px) {
  .homepage-pic {
    background-position-y: -100px;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage-pic {
    background-position-y: -300px;
  }
  .hop-list-container {
    margin: 0 auto;
    width: 80vw;
  }
}

@media only screen and (min-width: 1600px) {
  .hop-list-container {
    margin: 0 auto;
    width: 80vw;
  }
}
