.hop-list-container {
  padding: 50px 0 100px;
  margin: 0 auto;
  max-width: 70vw;
}

.hop-name {
  background-color: lightgrey;
  margin: 20px;
  padding: 10px;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  width: 300px;
  border-radius: 30px,
}




   
    
    
   