.hop-list-container {
  padding: 40px 0 100px;
  margin: 0 auto;
  max-width: 70vw;
}

.hop-name {
  background-color: rgba(251, 253, 138, 0.7);
  margin: 20px;
  padding: 15px;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block;
  width: 280px;
  border-radius: 30px;
  border: 5px solid #01a9b4;
  text-shadow: 1px 1px lightgrey;
}
.hop-name:hover { 
 box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .hop-name {
    width: 200px;
  }
}
