.about-page {
  margin: 0 auto;
  padding-top: 100px;
  min-width: 400px;
}

.about-page h3 {
  padding: 50px;
  font-size: 2rem;
  font-weight: 600;
  color: #01a9b4;
  text-shadow: 1px 2px black;
    
}

.about-page p {
  padding: 10px 50px;
  font-size: 1.2rem;
  font-weight: 500;
}
