.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 156, 193);
  min-height: 4rem;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-bar p {
  padding: 0 15px;
  min-width: 5rem;
}

.nav-bar h2 {
  color: white;
  padding-right: 5rem;
}

.hamburger-lines {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  .hamburger-nav {
    display: none;
  }
  .hidden-beer-icon {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  .nav-bar {
    justify-content: center;
  }
  .nav-bar p {
    padding: 0 40px;
  }
}
