.header-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(54, 156, 193, 0.9);
  min-height: 4rem;
  padding: 0 30px;
  position: fixed;
  width: 100vw;
  top: 0;
}

.header-nav-bar p {
  font-family: "Spinnaker", sans-serif;
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 5rem;
}

.header-nav-bar h2 {
  color: white;
  padding: 0 3rem 0 1rem;
}
.hop-cone-img {
  padding-right: 5px;
}

.hidden-beer-icon {
  padding-left: 5px;
}
.hidden-beer-quote {
  color: white;
  padding: 0 10px;
  visibility: hidden;
}

.hidden-beer-quote.visible {
  visibility: visible;
}
.hidden-beer-quote h5 {
  font-style: italic;
  font-size: 1rem;
}

.header-nav-bar img:hover,
.header-nav-bar p:hover {
  cursor: pointer;
  margin-top: 10px;
  transition: 100ms;
}

.header-nav-bar p:hover {
  box-shadow: 2px 2px;
}

@media only screen and (max-width: 400px) {
  .header-nav-bar {
    padding: 0;
  }

  .header-nav-bar h2 {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-beer-icon {
    display: none;
  }
  .hidden-beer-quote {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header-nav-bar p {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  .header-nav-bar {
    justify-content: center;
  }
  .header-nav-bar p {
    padding: 0 60px;
  }
}
