footer {
  background-color: rgb(54, 156, 193);
  bottom: 0;
  width: 100%;
  min-height: 4.5rem;
  padding: 10px;
  position: fixed;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

footer p {
  font-size: 0.8rem;
  color: white;
  margin: 0 auto;
}
